@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Barriecito&family=Concert+One&family=Madimi+One&family=Quicksand:wght@300..700&family=Signika:wght@300..700&family=Yusei+Magic&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary-color: #ff9794;
    --secondary-color: rgb(247, 183, 168);
    --modal-duration: 1s;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Signika", sans-serif;

}

nav {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    border-right: 2px solid rgba(200, 200, 200, 0.1);

}