@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body {
    font-family: "Quicksand", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.loading-text {
    font-size: 50px;
    color: white;
    opacity: 1;
}

body .link {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 10px;
    opacity: 0.4;
    left: 0;
    margin: 20px;
    border-radius: 50px;
}

.bg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    background-image: url("images/drpepper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0px)

}